{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">

    <head>

        <meta charset="utf-8">

        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="https://pyladiespoa.pythonanywhere.com/static/img/pyladies-poa.png">
        <meta name="twitter:title" content="Pyladies Porto Alegre">
        <meta name="twitter:description" content="Grupo de mulheres para estudo de Python em Porto Alegre, RS">
        <meta name="twitter:creator" content="@Pyladiespoa">

        <!-- Open Graph -->
        <meta property="og:locale" content="pt_BR">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Pyladies Porto Alegre">
        <meta property="og:description" content="Grupo de mulheres para estudo de Python em Porto Alegre, RS">
        <meta property="og:url" content="https://pyladiespoa.pythonanywhere.com">
        <meta property="og:image" content="https://pyladiespoa.pythonanywhere.com/static/img/pyladies-poa.png">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Pyladies Porto Alegre</title>

        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/pyladies.css' %}">
        
    </head>

    <body>
        <div class="container">
            <div class="row">
                <header>
                    <div class="col-md-3 col-xs-11 pull-left">
                        <a href="/"><img src="{% static 'img/pyladies-poa.png' %}" alt="Pyladies Porto Alegre" class="img-responsive"></a>
                        <nav class="text-center">
                            <ul class="list-unstyled">
                            <li><a href="https://pyladiespoa.pythonanywhere.com/post/1/">Sobre nós</a></li>
                            <br>
                            <li><a href="tg://resolve?domain=pyladiespoa">Telegram</a></li>
                            <li><a href="https://pyladiesbrasil.slack.com/messages/portoalegre">Canal Slack</a></li>
                            <li><a href="https://www.quitter.se/pyladiespoa">Quitter</a></li>
                            <li><a href="https://www.twitter.com/Pyladiespoa">Twitter</a></li>
                            <li><a href="https://www.facebook.com/pyladiespoa">Facebook</a></li>
                            <br>
                            <li><a href="http://brasil.pyladies.com">PyLadies Brasil</a></li>
                            </ul>
                        </nav>
                    </div>
                </header>

                <main>
                    {% if user.is_authenticated %}
                        <div class="pull-right">
                        <span class="top-menu">Olá, {{ user.username }}! <small>(<a href="{% url 'logout' %}">Sair</a>)</small></span>
                        <a href="{% url 'blog.views.post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                        </div>
                    {% else %}
                        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
                    {% endif %}

                    <div class="container">
                        <div class="col-md-9 col-sm-12 pull-right">
                            {% autoescape off %}
                                {% block content %}
                                {% endblock %}
                            {% endautoescape %}
                        </div>
                    </div>
                </main>
            </div> <!-- end of row -->
        </div> <!-- end of container -->

        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

        <script src="{% static 'bootstrap/js/jquery-1.12.4.min.js' %}"></script>

        <footer>
            <div class="container text-center small">
                <p>PyLadies e o logo PyLadies são trademarks da Python Software Foundation. Logo PyLadies Porto Alegre inspirado no logo do <a href="https://matehackers.org/">Matehackers</a>. O conteúdo original desse site possui uma Licença <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Atribuição-CompartilhaIgual 4.0 Internacional</a>. Site desenvolvido em <a href="https://www.djangoproject.com/">Django</a>. Código fonte no <a href="https://github.com/pyladiespoa/site">Github</a>.</p>
            </div>
        </footer>

    </body>
</html>